{% extends "base.html" %}
{% block title %}Home{% endblock title %}


{% block content %}
<h5>hom page</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reiciendis quibusdam aspernatur nesciunt nemo
    illum esse voluptatum iusto quaerat ratione? Delectus quia magni consequuntur laudantium natus recusandae? Mollitia
    ut modi voluptate, at assumenda iusto animi quaerat officiis totam illum quo suscipit deleniti rerum aperiam.
    Nesciunt saepe unde deserunt harum obcaecati.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur veritatis vero quod officiis dolor ipsa
    repudiandae fugiat labore, impedit animi ad sed molestiae earum voluptatibus odio eligendi delectus optio possimus
    veniam tenetur fuga. Optio accusamus fugit dolorem obcaecati, ullam recusandae provident debitis, magnam dignissimos
    ab facere consectetur natus ipsa, quidem veritatis itaque laborum eaque similique alias velit accusantium modi
    deserunt.</p>
{% endblock content %}