<!doctype html>
<html lang="fa" dir="rtl">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  <!-- Bootstrap RTL CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">


  <title>Ticketing | {% block title %}{% endblock title %}</title>
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fw-bold" href="#">پشتیبانی</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed p-1" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
      aria-label="Show/Hide sidebarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>

  <div class="container-fluid">
    <div class="row">

      <!-- Sidebar -->
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">صفحه اصلی</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">ثبت نام</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">ورود</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">خروج</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">حساب کاربری</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Main Content Section -->
      <main class="col-md-9 ms-sm-auto col-lg-10 p-0">

        <!-- Message Section -->
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show rounded-0 m-0" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        <!-- Content Block -->
        <div class="p-3">
          {% block content %}{% endblock content %}
        </div>
      </main>
    </div>
  </div>


  <!-- Bootstrap Bundle with Popper -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>