{% extends "base.html" %}
{% block title %}Department list{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h6 class="my-auto">
        لیست دپارتمان ها
    </h6>
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'department-create' %}">
        دپارتمان جدید</a>
</div>

<form action="{% url 'department-list' %}" method="get" class="mb-4 pb-2 border-bottom border-dark">
    <input type="text" class="form-control form-control-sm" name="department_search" placeholder="جستجو با نام دپارتمان"
        autofocus>
</form>

<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th style="width: 200px;">نام</th>
                <th colspan="5" style="width: 200px;">مدیر</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr>
                <td>{{ department.name }}</td>
                <td>{{ department.admin }}</td>
                <td class="text-end"><a href="{% url 'department-update' department.id %}">ویرایش</a></td>
                <td class="text-end"><a href="{% url 'department-delete' department.id %}">حذف</a></td>
                <td class="text-end"><a href="{% url 'department-expert-list' department.id %}">لیست کارشناسان</a></td>
                <td class="text-end">
                    <a href="{% url 'ticket-list' %}?department={{department.id}}">
                        لیست پرسش های مربوطه</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="6">تعداد دپارتمان ها: {{ departments.count }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}